.App {
  background-color: lightslategray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("https://images2.alphacoders.com/589/589399.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.App-header {
  align-self: auto;
}

button {
  appearance: none;
  background-color: limegreen;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.quizcontainer {
  position: center;
  background-color: whitesmoke;
  max-height: 75vh;
  overflow: auto;
  max-width: 60vh;
  overflow: auto;
  color: black;
  padding: 10% 10% 10%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.answercontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.questioncontainer{
  font-size: 110%;
  font-weight: bold;
}
.feedbackContainer {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}
.explanationContainer{
  font-style: italic;
  font-size: 70%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.unfinished {
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
